/*.d
/*.o
/large_tests/*.d
/large_tests/*.o

# Coverage data
/*.gcno
/*.gcda
/large_tests/*.gcno
/large_tests/*.gcda

/realm-tests
/realm-tests-dbg
/realm-tests-cov

/benchmark/x64
/benchmark

# Jenkins unit test reports
/unit-test-report.xml
