/*.d
/*.o

# Coverage data
/*.gcno
/*.gcda

/UnitTest++/libUnitTest++.a
/UnitTest++/TestUnitTest++
/UnitTest++/src/*.d
/UnitTest++/src/*.o
/UnitTest++/src/Posix/*.d
/UnitTest++/src/Posix/*.o
/UnitTest++/src/tests/*.d
/UnitTest++/src/tests/*.o

/tightdb-tests
/tightdb-tests-dbg
/tightdb-tests-cov

/benchmark/x64
/benchmark
