---
Language:        Cpp
BasedOnStyle:  LLVM

AccessModifierOffset: -4
IndentWidth:     4
TabWidth:        4

AlignEscapedNewlinesLeft: true
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
BraceWrapping:   
  AfterFunction:   true
  BeforeCatch:     true
  BeforeElse:      true
BreakBeforeBraces: Custom
ColumnLimit:     118
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes:    false
...
