[submodule "external/catch"]
	path = external/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "external/sha-2"]
	path = external/sha-2
	url = https://github.com/kalven/sha-2.git
[submodule "external/sha-1"]
	path = external/sha-1
	url = https://github.com/clibs/sha1.git
