*.tdb
*.tightdb
*.tbl

*.ncb
*.suo
*.vcproj.*.user
*.d
*.o
*.so
*.a
*.swp
*.gcno
*.gcda
*~
cscope.*
tags

/cover_html
/gcovr.xml
/test/UnitTest++/TestUnitTest++
/test/tightdb-tests
/test/tightdb-tests-debug
/test/tightdb-tests-cover
/test/subtables*.tdb
/test/subtables.tightdb
/test/table_test.tbl
/test/test-tightdb/test-tightdb
/test/test-tightdb/test-tightdb-debug
/test/test-sqlite3/test-sqlite3
/test/test-stl/test-stl

/test/benchmark/x64
/test/benchmark

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
ipch/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Static library*/
*.opensdf
*.sdf
