*.ncb
*.suo
*.swp
*~
cscope.*
tags
GPATH
GRTAGS
GTAGS

/cover_html
/gcovr.xml
/tmp
doc/html

# CMake artifacts
CMakeFiles
CMakeCache.txt
Testing
cmake_install.cmake
CTestTestfile.cmake
Makefile
Realm.xcodeproj
CMakeScripts

# Ignore all user files except one which includes execution path for test
*.user
!Realm.vcxproj.user

# Ignore user folder attributes created by Apple
.DS_Store

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
/.vs

*.dSYM

# Ignore KDevelop4 user files
.kdev4/*

# ref doc
/doc/ref_cpp/html/*

# Rakefile default build dirs
build.make.*
build.apple

# sh build.sh config
/src/config.mk

# sh build.sh build-cocoa
/core-*.zip
/macosx-lib/
/ios-lib/
/ios-no-bitcode-lib/
/watchos-lib/
/tvos-lib/

# sh build.sh build-dotnet-cocoa
/realm-core-dotnet-cocoa*.zip

# sh build.sh build-android
/android-lib/
/openssl/
/realm-core-android-*.tar.gz

# debian/ubuntu builds
/debian/realm/*
/debian/librealm/*
/debian/librealm-dev/*
/debian/librealm-dev.substvars
/debian/librealm.substvars
/debian/realm.substvars
/debian/files
/debian/changelog
/debian/debhelper.log
/debian/librealm.debhelper.lo
/debian/librealm-dev.debhelper.log

# Ignore python compiled files
*.pyc
/build.android.*
/build.cocoa
/test/android/jni/#Android.mk#
