Source: librealm
Section: devel
Priority: optional
Maintainer: Kenneth Geisshirt <kg@tightdb.com>
Build-Depends: debhelper (>=7)
Standards-Version: 3.9.4
Homepage: http://www.tightdb.com/

Package: librealm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast, embedded database
 TightDB is a fast, embedded database.

Package: librealm-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, g++
Description: Fast, embedded database.
 TightDB is a fast, embedded database: Development and header files.
