/*.d
/*.o
/*.libdeps

# Coverage data
/*.gcno
/*.gcda

/libtightdb.a
/libtightdb.so
/libtightdb-dbg.a
/libtightdb-dbg.so
/libtightdb-cov.so
/libtightdb-ios.a
/libtightdb-ios-dbg.a

/tightdb-config
/tightdb-config-dbg
/tightdb-config-cov
