/*.d
/*.o
/*.libdeps

# Coverage data
/*.gcno
/*.gcda

/libtightdb.a
/libtightdb.so
/libtightdb.so.*
/libtightdb.dylib
/libtightdb.*.dylib
/libtightdb-dbg.a
/libtightdb-dbg.so
/libtightdb-dbg.so.*
/libtightdb-dbg.dylib
/libtightdb-dbg.*.dylib
/libtightdb-cov.so
/libtightdb-cov.so.*
/libtightdb-cov.dylib
/libtightdb-cov.*.dylib

/tightdb-config
/tightdb-config-dbg

/tightdb-import
/tightdb-import-noinst
/tightdb-import-dbg
/tightdb-import-dbg-noinst
/tightdb-import-cov
/tightdb-import-cov-noinst

/tightdbd
/tightdbd-dbg
/tightdbd-noinst
/tightdbd-dbg-noinst
/tightdbd-cov

# iPhone
/libtightdb-iPhoneOS.a
/libtightdb-iPhoneOS-dbg.a
/libtightdb-iPhoneSimulator.a
/libtightdb-iPhoneSimulator-dbg.a
/tightdb-config-ios
/tightdb-config-ios-dbg

/build_config.h
