/*.d
/*.o
/*.libdeps

# Coverage data
/*.gcno
/*.gcda

/libtightdb.a
/libtightdb.so
/libtightdb.dylib
/libtightdb-dbg.a
/libtightdb-dbg.so
/libtightdb-dbg.dylib
/libtightdb-cov.so
/libtightdb-cov.dylib

/tightdb-config
/tightdb-config-dbg
/tightdb-config-cov

/libtightdb-iPhoneOS.a
/libtightdb-iPhoneOS-dbg.a
/libtightdb-iPhoneSimulator.a
/libtightdb-iPhoneSimulator-dbg.a

/libtightdb-ios.a
/libtightdb-ios-dbg.a
/tightdb-config-ios
/tightdb-config-ios-dbg
