/*.d
/*.o
/util/*.d
/util/*.o
/impl/*.d
/impl/*.o
/*.libdeps

# Coverage data
/*.gcno
/*.gcda
/util/*.gcno
/util/*.gcda
/impl/*.gcno
/impl/*.gcda

/librealm*.a
/librealm*.so
/librealm*.so.*
/librealm*.dylib

/realm-import
/realm-import-noinst
/realm-import-dbg
/realm-import-dbg-noinst
/realm-import-cov
/realm-import-cov-noinst

/realmd
/realmd-noinst
/realmd-dbg
/realmd-dbg-noinst
/realmd-cov
/realmd-cov-noinst

/realm-config
/realm-config-dbg

# iPhone
/realm-config-ios
/realm-config-ios-dbg

# Watch
/realm-config-watchos
/realm-config-watchos-dbg

# TV
/realm-config-tvos
/realm-config-tvos-dbg

/util/config.h
