/*.d
/*.o
/util/*.d
/util/*.o
/impl/*.d
/impl/*.o
/*.libdeps

# Coverage data
/*.gcno
/*.gcda
/util/*.gcno
/util/*.gcda
/impl/*.gcno
/impl/*.gcda

/librealm.a
/librealm.so
/librealm.so.*
/librealm.dylib
/librealm.*.dylib
/librealm-dbg.a
/librealm-dbg.so
/librealm-dbg.so.*
/librealm-dbg.dylib
/librealm-dbg.*.dylib
/librealm-cov.so
/librealm-cov.so.*
/librealm-cov.dylib
/librealm-cov.*.dylib

/realm-import
/realm-import-noinst
/realm-import-dbg
/realm-import-dbg-noinst
/realm-import-cov
/realm-import-cov-noinst

/realmd
/realmd-noinst
/realmd-dbg
/realmd-dbg-noinst
/realmd-cov
/realmd-cov-noinst

/realm-config
/realm-config-dbg

# iPhone
/librealm-iPhoneOS.a
/librealm-iPhoneOS-dbg.a
/librealm-iPhoneSimulator.a
/librealm-iPhoneSimulator-dbg.a
/realm-config-ios
/realm-config-ios-dbg

# Watch
/librealm-WatchOS.a
/librealm-WatchOS-dbg.a
/librealm-WatchSimulator.a
/librealm-WatchSimulator-dbg.a
/realm-config-watchos
/realm-config-watchos-dbg

# Android
/librealm-android-*.a

/util/config.h
