{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "2.0.0",
    "tasks": [
        {
            "taskName": "build debug",
            "type": "shell",
            "command": "ninja realm-tests",
            "problemMatcher": {
                "owner": "cpp",
                "fileLocation": ["relative", "${workspaceRoot}/build.debug"],
                "pattern": {
                    "regexp": "^(.*):(\\d+):(\\d+):\\s+(warning|error):\\s+(.*)$",
                    "file": 1,
                    "line": 2,
                    "column": 3,
                    "severity": 4,
                    "message": 5
                }
            },
            "options": {
                "cwd": "${workspaceRoot}/build.debug"
            },
            "group": {
                "kind": "build",
                "isDefault": true
            }
        },
        {
            "taskName": "build release",
            "type": "shell",
            "command": "ninja realm-tests",
            "problemMatcher": [
                "$gcc"
            ],
            "options": {
                "cwd": "${workspaceRoot}/build.release"
            },
            "group": {
                "kind": "build",
                "isDefault": false
            }
        }
    ]
}